endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_endpointPrivacy true

sv_hostname "pBase"
set steam_webApiKey ""
sv_licenseKey ""
sv_maxclients 10  

sets sv_projectName "pBase"
sets sv_projectDesc "pBase"
sets tags "default, esx, esx legacy, legacy, official, roleplay"
sv_scriptHookAllowed 0

set onesync on  
set mysql_connection_string "mysql://root:@127.0.0.1/pBase?waitForConnections=true&charset=utf8mb4"
set mysql_ui true

setr esx:locale "fr"
setr ox:locale fr

ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap

add_principal group.admin group.user
add_ace group.admin command allow 
add_ace group.admin command.quit deny 
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

## ESX Legacy
ensure [essential]
ensure [esx-framework]
ensure [overextended]
ensure [powo]
ensure [powo_rework]